/* ------ Basic Setup ------ */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* ================================= */

/* ----- Resuable Code ----- */
h2 {
    font-size: 1rem;
    font-weight: 700;
}
h1{
    color: #426696;
    font-weight: 600;
    font-size: 1rem;
    opacity: .8;
}

h2,p{
    color: #658ec6;
    font-weight: 500;
    opacity: .8;
}

.circle1,.circle2{
    background: white;
    background: linear-gradient(to right bottom, rgba(255,255,255,.8), rgba(255,255,255,.3));
    width: 20rem;
    height: 20rem;
    position: absolute;
    border-radius: 50%;  
}

/* ============================== */

/* ----- Main componet */
main{
    height: 100vh;
    background: linear-gradient(to right top, #ffe897, #e0e793);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

/* ========================== */

/* ----- Glass Component ------- */
.glass{
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom, rgba(255,255,255,.7), rgba(255,255,255,.3));
    border-radius: 2rem;
    z-index: 3;
    backdrop-filter: blur(2rem);
    display: flex;
}
/* ==================================== */

/* ------ Circle ----- */

.circle1{
    top: 5%;
    right: 15%;
}
.circle2{
    bottom: 5%;
    left: 10%;
}
/* ==================== */

/* -------------- icon fonts ---------- */
i{
    font-size: 1.5rem;
}
/* ============================ */

/* ------ user avatar -------------- */
.user img {
    width: 30%;
}
/* =================================== */

/* -----------------  card images --------------- */
.card img{
    width: 15%;
}
/* =================================== */

.dashboard{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background: linear-gradient(to right bottom, rgba(255,255,255,.7), rgba(255,255,255,.3));
    border-radius: 2rem;
}

.link{
    display: flex;
    margin: 1rem 0rem;
    padding: 1rem 5rem;
    align-items: center;
}

.link h2{
    padding: 0rem 2rem;
}

.games{
    flex: 2;
}

/* ------ Join The Game ---- */
.pro{
    background: linear-gradient(to right top, #ffe897, #f7f7f7);
    color:rgba(19, 16, 175, 0.808);
    border-radius: 2rem;
    position: relative;
    padding: 1.5rem 0rem;
}

.pro i {
    font-size: 7rem;
    position: absolute;
    top: -10%;
}

.pro h2{
    width: 40%;
    font-size: 1.2rem;
    font-weight: 200;
}
/* ======================= */

/* Games */
.status {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 
.status input{
    background: linear-gradient(to right bottom, rgba(255,255,255,.7), rgba(255,255,255,.3));
    border: none;
    width: 50%;
    padding: .5rem;
    border-radius: 2rem;
}

.games{
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card {
    display: flex;
    background: linear-gradient(to left top, rgba(255,255,255,.8), rgba(255,255,255,0.5));
    border-radius: 2rem;
    padding: 2rem;
    margin: 2rem 0rem;
    box-shadow: 6px 6px 20px rgb(122, 122, 122,0.2);
}

.progress{
    background: linear-gradient(to right top, #ffe897, #e0e793);
    width:320px;
    height: 25%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.progress::after{
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(236,236,236);
    position: absolute;
    left: 60%;
}

.card-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.card-info h2,p{
    display: flex;
    justify-content: space-around;
}

.percentage{
    font-weight: bold;
    background: linear-gradient(to right top, #ffe897, #e0e793);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}